# python
__pycache__/

# other
*.backup*
.stfolder/
.stignore

# qutebrowser
autoconfig.yml
urls
QtProject.conf
quickmarks
/qutebrowser/.config/qutebrowser/quickmarks.old
/qutebrowser/.config/qutebrowser/docs
/helium
/.stglobalignore
